<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="MsSqlConnectionIp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="sql03.itadel.dddretail.com" />
    <add key="SqlUserName" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="DdDSuperUser" />
    <add key="SqlPassword" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="gW4BB2/b" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="DdDreportController.Properties.Settings.DdDReportMonitorConnectionString1" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=sql03.itadel.dddretail.com;Initial Catalog=DdDReportMonitor;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="OlapConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Provider=Provider=SQLNCLI11.1;Data Source=sql03.itadel.dddretail.com;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog={cubeName}DB;Cube={cubeName};" />
    <add name="AdomdConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Provider=Provider=SQLNCLI11.1;Data Source=sql03.itadel.dddretail.com;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog={cubeName}DB;Timeout=0" />
    <add name="AdomdConnectionStringToAnalytics" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Provider=Provider=SQLNCLI11.1;Data Source=sql03.itadel.dddretail.com;Integrated Security=SSPI;Persist Security Info=False;" />
    <add name="OracleConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=ORCL;User ID=Satellite;Password=retai10rbit;Provider=OraOLEDB.Oracle.1;Persist Security Info=True;Max Pool Size=300" />
    <add name="OracleConnectionString2" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=ORCL;User ID=Satellite;Password=retai10rbit;Provider=OraOLEDB.Oracle.1;Persist Security Info=True;Max Pool Size=300" />
  </connectionStrings>
</configuration>